@font-face {
    font-family: 'Great Day Bold';
    src: url('fonts/GreatDayBold.woff2') format('woff2'),
        url('fonts/GreatDayBold.woff') format('woff');
}

@font-face {
    font-family: 'Artifika';
    src: url('fonts/Artifika.woff') format('woff');
}

@font-face {
    font-family: 'Mightype';
    src: url('fonts/Mightype.woff') format('woff');
}

@font-face {
    font-family: 'Paranoid';
    src: url('fonts/paranoid.woff') format('woff');
}


@font-face {
    font-family: 'Great Day';
    src: url('fonts/GreatDay.woff2') format('woff2'),
        url('fonts/GreatDay.woff') format('woff'),
        url('fonts/GreatDay.svg') format('svg');
}

@font-face {
    font-family: 'Milkshake';
    src: url('fonts/Milkshake.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background: #F8EEE7;
  text-align: center;
}

#footer {
    bottom: 0;
    width: 100%;
    text-decoration:none;
}

a {
  text-decoration:none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.frase {
  font-size: 60px;
  position: absolute;
  top: 30px;
  left: 100px;
}

.header {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "Milkshake"
}

.headerb {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "Mightype"
}

.headerc {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "Great Day"
}

.subheader {
  padding: 2px;
  text-align: center;
  background: #F4DECB;
  color: #49274A;
  font-size: 10px;
  font-family: "Lucida Console"
}

.buttonsh {
  text-decoration: none;
  background: #F4DECB;
  color: #49274A;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 10px;
}

.buttonsh:hover {
  background-color: #49274A;
  color: #F4DECB;
}

.gallery{
  margin: 10px 50px;
}

.gallery img {
  transition: 0.2s;
  margin: 15px;
  border-radius: 5px;

}

.gallery img:hover {
  filter: grayscale(50%);
  transform: scale(1.02);
}
