@font-face {
    font-family: 'Great Day Bold';
    src: url('fonts/GreatDayBold.woff2') format('woff2'),
        url('fonts/GreatDayBold.woff') format('woff');
}

@font-face {
    font-family: 'Artifika';
    src: url('fonts/Artifika.woff') format('woff');
}

@font-face {
    font-family: 'Mightype';
    src: url('fonts/Mightype.woff') format('woff');
}

@font-face {
    font-family: 'Paranoid';
    src: url('fonts/paranoid.woff') format('woff');
}


@font-face {
    font-family: 'Great Day';
    src: url('fonts/GreatDay.woff2') format('woff2'),
        url('fonts/GreatDay.woff') format('woff'),
        url('fonts/GreatDay.svg') format('svg');
}

@font-face {
    font-family: 'Milkshake';
    src: url('fonts/Milkshake.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background: #F8EEE7;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

div {
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 65px;
}

.youtcont{
  position: relative;
  margin-top: -10px;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 56.25%;

}

.yout {
  text-align: center;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer {
  height: 65px;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration:none;
    position: absolute;
    background: #610B4B;
}

a {
  text-decoration:none;
}

.filaagenda {
  border-left: 5px solid #610B4B;
  border-right: 5px solid #610B4B;
  border-top: 1px outset #610B4B;
  border-bottom: 1px outset #610B4B;

}

.containerx {
  position: relative;
  text-align: center;
  color: white;
}

.frase {
  font-size: 50px;
  position: absolute;
  top: 100px;
  right: 0px;
}


.headerc {
  height: 9vw;
  text-decoration:none;
  text-align: center;
  background: #610B4B;
}

.headerc h1 {
  display: inline-block;
  font-family: "Great Day";
  font-size: 3vw;
  color: #FFFFFF;
}

.buttonsh {
  text-decoration: none;
  background: #610B4B;
  color: #FFFFFF;
  border: none;
  font-size: 1.2vw;
  padding-left: 1.6vw;
  padding-right: 1.6vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  display: inline-block;
  margin-bottom: 0.4vw;
  border-radius: 0.4vw;
}

.buttonsh:hover {
  background-color: #FFFFFF;
  color: #610B4B;
}

.filaagenda:hover {
    background: #610B4B;
    color: white;
}

.gallery{
  margin: 10px 50px;
}

.gallery img {
  transition: 0.2s;
  margin: 15px;
  border-radius: 5px;

}

.gallery img:hover {
  filter: grayscale(25%);
  transform: scale(1.02);
}

.titulo {
  position: absolute;
  top:2.5vw;
  left: 3vw;
}

.menu {
  top:3vw;
}

.descvideo{
  margin-top: 10px;
  text-align: center;
  border-color: #610B4B;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  color: #610B4B;
}

@media (min-width:576px) {
  .span-menu {
    display: none;
  }
}

@media (max-width:576px) {
  .titulo{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      font-size: 8vw;
  }

  .span-menu{
      padding-top: 3vw;
  }

  .bt-menu{
    text-decoration: none;
    color: white;
    font-size: 10vw;
  }


  .menu {
    position: fixed;
    display: inline;
    padding: 0;
    height: 100%;
    left: -100%;
    width: 10%;
    margin-top: 0;
  }

.menu a{
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  margin:0;
}

.buttonsh {
  font-size: 6vw;
  border-radius: 0;
}

.headerc {
  height: 16vw;
}



* {
  box-sizing: border-box;
}
