@font-face {
    font-family: 'Great Day Bold';
    src: url('fonts/GreatDayBold.woff2') format('woff2'),
        url('fonts/GreatDayBold.woff') format('woff');
}

@font-face {
    font-family: 'Artifika';
    src: url('fonts/Artifika.woff') format('woff');
}

@font-face {
    font-family: 'Mightype';
    src: url('fonts/Mightype.woff') format('woff');
}

@font-face {
    font-family: 'Paranoid';
    src: url('fonts/paranoid.woff') format('woff');
}


@font-face {
    font-family: 'Great Day';
    src: url('fonts/GreatDay.woff2') format('woff2'),
        url('fonts/GreatDay.woff') format('woff'),
        url('fonts/GreatDay.svg') format('svg');
}

@font-face {
    font-family: 'Milkshake';
    src: url('fonts/Milkshake.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background: #F8EEE7;
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
}

.footer {
    bottom: 0;
    width: 100%;
    text-decoration:none;
    position: relative;
    background: #610B4B;
}

a {
  text-decoration:none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.frase {
  font-size: 50px;
  position: absolute;
  top: 100px;
  right: 0px;
}


.headerc {
  height: 9vw;
  text-decoration:none;
  text-align: center;
  background: #610B4B;
}

.headerc h1 {
  display: inline-block;
  font-family: "Great Day";
  font-size: 3vw;
  color: #FFFFFF;
}

.buttonsh {
  text-decoration: none;
  background: #610B4B;
  color: #FFFFFF;
  border: none;
  font-size: 1.2vw;
  padding-left: 1.6vw;
  padding-right: 1.6vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  display: inline-block;
  margin-bottom: 0.4vw;
  border-radius: 0.4vw;
}

.buttonsh:hover {
  background-color: #FFFFFF;
  color: #610B4B;
}

.gallery{
  margin: 10px 50px;
}

.gallery img {
  transition: 0.2s;
  margin: 15px;
  border-radius: 5px;

}

.gallery img:hover {
  filter: grayscale(25%);
  transform: scale(1.02);
}


* {
  box-sizing: border-box;
}
