@font-face {
    font-family: 'Great Day Bold';
    src: url('GreatDayBold.woff2') format('woff2'),
        url('GreatDayBold.woff') format('woff');
}

@font-face {
    font-family: 'Artifika';
    src: url('Artifika.woff') format('woff');
}

@font-face {
    font-family: 'Mightype';
    src: url('Mightype.woff') format('woff');
}

@font-face {
    font-family: 'Paranoid';
    src: url('paranoid.woff') format('woff');
}


@font-face {
    font-family: 'Great Day';
    src: url('GreatDay.woff2') format('woff2'),
        url('GreatDay.woff') format('woff'),
        url('GreatDay.svg') format('svg');
}

@font-face {
    font-family: 'Milkshake';
    src: url('Milkshake.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background: #F8EEE7;
  text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "Milkshake"
}

.headerb {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "Mightype"
}

.headerc {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 20px;
  font-family: "GreatDay"
}

.subheader {
  padding: 2px;
  text-align: center;
  background: #F4DECB;
  color: #49274A;
  font-size: 10px;
  font-family: "Lucida Console"
}

.buttonsh {
  text-decoration: none;
  background: #F4DECB;
  color: #49274A;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 10px;
}

.buttonsh:hover {
  background-color: #49274A;
  color: #F4DECB;
}
