html, body {
  margin: 0;
  padding: 0;
  background: #F8EEE7;
  text-align: center;
}

.header {
  padding: 2px;
  text-decoration:none;
  text-align: center;
  background: #94618E;
  color: #F8EEE7;
  font-size: 10px;
  font-family: "Lucida Console"
}

.subheader {
  padding: 2px;
  text-align: center;
  background: #F4DECB;
  color: #49274A;
  font-size: 10px;
  font-family: "Lucida Console"
}

.buttonsh {
  text-decoration: none;
  background: #F4DECB;
  color: #49274A;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 10px;
}

.buttonsh:hover {
  background-color: #49274A;
  color: #F4DECB;
}
